Source: tone-generator
Section: misc
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper (>= 9),
 libdbus-1-dev,
 libdbus-glib-1-dev,
 libglib2.0-dev,
 libgconf2-dev,
 libpulse-dev,
 libpulse-mainloop-glib0,
Standards-Version: 3.7.2

Package: tone-generator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tone generator daemon for call progress indication and DTMF.
